body{
background-image:
background-size:cover;
background-repeat:no-repeat;
background-position:center;
}
.container{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}
table {
  border-collapse: collapse;
  width: 100%;
max-width: 400px;
  margin-bottom: 20px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}


